<!--footer-->
<footer class="footer">
    <div class="container">


        <ul class="navigation">
            <li>
                <a href="/">О Корпорации</a>
                <ul>
                    <li>
                        <a href="/page/Celi-i-zadachi">Цели и задачи Корпорации</a>
                    </li>
                    <li>
                        <a href="/page/Organy-upravlenija">Органы управления</a>
                    </li>
                    <li>
                        <a href="/page/Raskrytie-informacii">Устав Корпорации развития</a>
                    </li>
                    <li>
                        <a href="/page/Zakupki">Закупки</a>
                    </li>
                    <li>
                        <a href="/page/Dejatelnost-NAO-Korporacija-razvitija-Krasnodarskogo-kraja">Деятельность Корпорации</a>
                    </li>
                    <li>
                        <a href="/news">Новости</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">О Краснодарском крае</a>
                <ul>
                    <li>
                        <a href="/page/Investicionnyj-klimat">Инвестиционный климат в регионе</a>
                    </li>
                    <li>
                        <a href="/page/Rejting-Krasnodarskogo-kraja">Рейтинг Краснодарского края</a>
                    </li>
                    <li>
                        <a href="/page/prezentacia+regiona">Презентация региона</a>
                    </li>
                    <li>
                        <a href="/page/Suschestvujuschee-proizvodstvo">Существующие производства</a>
                    </li>
                    <li>
                        <a href="/page/Geografija">География</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Инвестору</a>
                <ul>
                    <li>
                        <a href="/page/Zajavka-na-soprovozhdenie">Сопровождение инвестиционных проектов</a>
                    </li>
                    <li>
                        <a href="http://investkuban.ru/ru/investitsionnye-predlozheniya/invplosch.php">Инвестиционнные площадки</a>
                    </li>
                    <li>
                        <a href="/page/Putevoditel">Формы господдержки для инвесторов</a>
                    </li>
                    <li>
                        <a href="/page/Dokumenty-dlja-investora">Нормативно-правовая база</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Индустриальные парки</a>
                <ul>
                    <li>
                        <a href="/page/vpz">Восточная промышленная зона</a>
                    </li>
                    <li>
                        <a href="/page/Industrialnye-parki">Индустриальные парки</a>
                    </li>
                    <li>
                        <a href="/page/Reestr-rezidentov-na-vpz">Реестр резидентов</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/page/Podderzhka-MSP">Поддержка МСП</a>
            </li>
            <li>
                <a href="/kontakt">Контакты</a>
            </li>
        </ul>


    </div>
</footer>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>