body
  background: $colorWhite
  *
    box-sizing: border-box
    font-family: $regular
.container
  width: 1182px
  margin: 0 auto
  background: $colorGrey
  position: relative
.left-col,.right-col
  display: inline-block
  vertical-align: top
.left-col
  width: 20%
.right-col
  width: 79.5%

.social-links
  display: inline-block
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      display: inline-block
      a
        display: block
        width: 30px
        height: 30px
        margin-right: 5px
        background: url(../img/sprite.svg) no-repeat top
        background-size: auto 30px
        transition: all 0.5s ease
        &:hover
          opacity: 0.6
        &.fb
          background-position: -76px 0
        &.tw
          background-position: -106px 0
        &.ggl
          background-position: -166px 0
        &.vk
          background-position: -136px 0


.lang-trigger
  float: right
  margin-top: 5px
  a
    display: inline-block
    text-decoration: none
    color: $colorBlack
    &:first-child
      &:after
        content: ' /'
        font-family: $regular
    &.active
      font-family: $bold
.search-form
  position: relative
.search-form-input
  border: none
  background: rgba(40, 56, 146, 0.3)
  font-family: $regularIt
  width: 270px
  height: 30px
  padding: 0 15px
.search-button
  font-size: 0
  border: none
  width: 30px
  height: 30px
  background: $colorBlue url(../img/sprite.svg) no-repeat top
  background-size: auto 20px
  background-position: -23px 6px
  position: absolute
  top: 0
  right: 0
.main-menu
  margin-top: 205px
  >ul
    list-style: none
    margin: 0
    padding-left: 40px
    >li
      position: relative
      &:hover
        background: $colorBlue
        >a
          color: $colorWhite
        ul
          display: block
      >a
        text-decoration: none
        color: $colorBlue
        font-family: $light
        text-transform: uppercase
        font-size: 1.1em
        display: block
        margin-left: 5px
        margin-bottom: 22px
      ul
        list-style: none
        margin: 0
        padding-left: 0
        position: absolute
        left: 100%
        top: 0
        display: none
        z-index: 3
        li
          position: relative
          padding-left: 10px
          width: 225px
          a
            display: block
            text-decoration: none
            color: $colorBlack
            font-family: $regular
            text-transform: none
            background: $colorWhite
            border: 2px solid $colorBlue
            margin-bottom: 7px
            font-size: 0.9em
            padding: 10px
.content
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    width: 77%
    height: 866px
    background: url('../img/bgM.svg') no-repeat top
    top: -211px
    left: 3px
.main-slider
  padding-top: 70px
  padding-left: 42px
  position: relative
  z-index: 2
  &-item
    position: relative
    overflow: hidden
    z-index: 0
    &-img
      width: 100%
      height: 445px
      background-size: cover
  &:before,&:after
    content: ''
    display: block
    width: 130px
    height: 340px
    position: absolute
    transform: rotate(63deg)
    background: $colorWhite
    top: -144px
    left: 90px
    z-index: 1
  &:after
    background: $colorGrey
    top: -196px
    left: 56px
    height: 400px


.about
  position: relative
  z-index: 1
  padding: 0 85px
  h2,h1
    font-size: 4.18em
    font-family: $light
    text-transform: uppercase
    margin: 0.6em 0
    margin-bottom: 0
  strong
    font-family: $bold
    font-size: 1.1em
    text-transform: uppercase
    padding-top: 14px
    display: inline-block
.useful-links
  padding: 0 40px
  font-family: $regular
  font-weight: normal
  text-transform: uppercase
  color: $colorBlue
  font-size: 1em
  padding-top: 124px
  position: relative
  overflow: hidden
  margin-top: -100px
  padding-bottom: 40px
  h2
    font-size: 1em
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: -197px
    width: 341px
    height: 194px
    background: url(../img/bg1.svg) no-repeat center
    background-size: contain
  &-slider
    border: 3px solid $colorWhite
    padding: 30px
.slick-arrow
  position: absolute
  top: 50%
  z-index: 3
  background: transparent url('../img/sprite.svg') no-repeat
  width: 25px
  height: 35px
  background-size: auto 59px
  font-size: 0
  border: none
  outline: none!important
  background-position: -443px -12px
  &:hover
    opacity: 0.6
  &.slick-next
    right: 40px
  &.slick-prev
    left: 80px
    background-position: -417px -12px
.useful-links-slider
  .slick-arrow
    top: 43%
    &.slick-next
      right: 3px
      background-position: -443px -12px
    &.slick-prev
      left: 3px
      background-position: -417px -12px