.footer
  .container
    padding-top: 1px
    background: $colorBlue
    color: $colorWhite
    padding-bottom: 10px
    ul
      display: block
      a
        color: $colorWhite
        text-decoration: none
        &:hover
          opacity: 0.6
    >ul
      list-style: none
      padding: 0 40px

      >li
        padding: 0 40px
        width: 24.5%
        vertical-align: top
        display: none
        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4)
          display: none
          display: inline-block
        >a
          text-transform: uppercase
          font-size: 0.7em
          font-family: $bold
        ul
          list-style: none
          padding: 0
          padding-top: 10px
          li
            a
              font-size: 0.7em
              font-family: $light