.header
  >div
    >div
      position: relative
      z-index: 5
  &-logo
    position: relative
    a
      display: block
      position: absolute
      width: 260px
      height: 235px
      background-repeat: no-repeat
      background-position: center
      background-size: auto 100%
      margin-top: 25px
      z-index: 10
  .right-col
    margin-top: 60px
    >div
      display: inline-block
  &-address
    padding-left: 4.5%
    width: 30%
  &-contacts
    width: 30%
    padding-left: 5px
    &-email,&-phone
      display: block
      color: $colorBlack
      text-decoration: none
    &-email
      margin-bottom: 10px
      &:before
        content: ''
        display: inline-block
        width: 27px
        height: 18px
        background: url(../img/sprite.svg) no-repeat top
        background-size: auto 18px
        background-position: 4px 0
        margin-right: 18px
        margin-left: -4px
        position: relative
        top: 3px
    &-phone
      font-family: $extraBold
      font-size: 1.5em

  &-search
    padding-left: 30px
    width: 39%
    padding-right: 40px