


@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../../fonts/ProximaNova-Regular.eot');
    src: url('../../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
    url('../../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ProximaNova-RegularIt';
    src: url('../../fonts/ProximaNova-RegularIt.eot');
    src: url('../../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
    url('../../fonts/ProximaNova-RegularIt.woff') format('woff'),
    url('../../fonts/ProximaNova-RegularIt.ttf') format('truetype'),
    url('../../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'),
    url('../../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../../fonts/ProximaNova-Light.eot');
    src: url('../../fonts/ProximaNova-Light.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Light.woff') format('woff'),
    url('../../fonts/ProximaNova-Light.ttf') format('truetype'),
    url('../../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
    url('../../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url('../../fonts/ProximaNova-Extrabld.eot');
    src: url('../../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
    url('../../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg'),
    url('../../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../../fonts/ProximaNova-Bold.eot');
    src: url('../../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../../fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
    url('../../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}






