//= template/header.html

<!--content-->
<div class="container">

    <div class="left-col">
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="#">О корпорации</a>
                    <ul>
                        <li>
                            <a href="#">Цели и задачи корпорации</a>
                        </li>
                        <li>
                            <a href="#">Органы управления</a>
                        </li>
                        <li>
                            <a href="#">Устав Корпорации развития</a>
                        </li>
                        <li>
                            <a href="#">Закупки</a>
                        </li>
                        <li>
                            <a href="#">Деятельность Корпорации</a>
                        </li>
                        <li>
                            <a href="#">Новости</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">О краснодарском крае</a>

                </li>
                <li>
                    <a href="#">Инвестору</a>

                </li>
                <li>
                    <a href="#">Индустриальные парки</a>

                </li>
                <li>
                    <a href="#">Поддержка МСП</a>

                </li>
                <li>
                    <a href="#">Контакты</a>

                </li>
                <li>
                    <a href="#"> Новости</a>

                </li>
            </ul>

        </nav>
    </div>

    <div class="right-col">

        <div class="content">

            <div class="main-slider">

                <div class="main-slider-item">
                    <div class="main-slider-item-img" style="background-image: url('user_img/slide1.jpg')"></div>
                </div>

            </div>

            <div class="about">

                <h2>О Компании</h2>

                <strong>
                    Приветствуем вас на официальном сайте НАО «Корпорация развития Краснодарского края»
                </strong>

                <p>
                    НАО «Корпорация развития Краснодарского края» - региональная компания со 100% государственным участием.
                    Была создана в 2016 году с целью развития инвестиционной среды Краснодарского края за счет привлечения
                    инвесторов и участия в реализации производственных и инфраструктурных проектов на территории региона.
                    Корпорация развития наделена статусом специализированной организации по привлечению инвестиций и работе
                    с инвесторами в Краснодарском крае, согласно Приказу департамента инвестиций и развития малого и
                    среднего предпринимательства Краснодарского края от 22 июля 2016 года № 72 «О специализированной организации
                    по привлечению инвестиций и работе с инвесторами в Краснодарском крае».
                </p>

            </div>


        </div>

    </div>


    <div class="useful-links">
        <h2>
            Полезные ссылки
        </h2>
        <div class="useful-links-slider">

            <div class="useful-links-slider-item">
                <a href="#" target="_blank">
                    <img src="user_img/2.png">
                </a>
            </div>

            <div class="useful-links-slider-item">
                <a href="#" target="_blank">
                    <img src="user_img/2.png">
                </a>
            </div>

            <div class="useful-links-slider-item">
                <a href="#" target="_blank">
                    <img src="user_img/2.png">
                </a>
            </div>

            <div class="useful-links-slider-item">
                <a href="#" target="_blank">
                    <img src="user_img/2.png">
                </a>
            </div>

            <div class="useful-links-slider-item">
                <a href="#" target="_blank">
                    <img src="user_img/2.png">
                </a>
            </div>

            <div class="useful-links-slider-item">
                <a href="#" target="_blank">
                    <img src="user_img/2.png">
                </a>
            </div>

            <div class="useful-links-slider-item">
                <a href="#" target="_blank">
                    <img src="user_img/2.png">
                </a>
            </div>

        </div>
    </div>



</div>
<!--content end-->

//= template/footer.html


